{% extends "base.html" %}
{% block css %}
<style>
    
</style>
{% endblock %}
{% block content %}
<div class="container fade-slide">
    <h1 class="page-title">Hello and welcome!</h1>
    <p>I'm Thierry, a Full Stack Web Development student at University College Dublin.</p>

    <p>This site is a personal project I built using <strong>Python</strong> and <strong>Flask</strong> as part of my
        coursework for the Python module. It’s designed to showcase my learning progress, coding skills, and how I’m
        building full web applications from scratch.</p>

    <p>Feel free to explore the different pages and sections — and if something catches your eye or you'd just like to
        say hello, you can leave me a message in the <em>"Leave your message"</em> section.</p>

    <p>Thanks for visiting!</p>
</div>
{% endblock %}