{% extends "base.html" %}
{% block content %}
<div class="container fade-slide">
    <form method="POST" action="/leaveamessage">
        <div class="form-detail">
            <input type="text" id="name" name="name" placeholder="*Name" required><br><br>
            <input type="text" id="location" name="location" placeholder="*Location" required><br><br>
        </div>

        <textarea id="message" name="message" placeholder="*Message" required></textarea><br>

        <button type="submit">Send Message</button>
    </form>

    <div class="api-messages">
        {% for message in messages %}
        <ul class="message-item">
            <h3>{{ message.name }} - {{ message.location }}</h3>
            <p>{{ message.message }}</p>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}