{% extends "base.html" %}
{% block css %}
<style>
    .list_skills{
        margin-bottom: 15px;
    }
    .project_links{
        margin-bottom: 5px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container fade-slide">
    <div class="skills_projects">
        <div class="skills">
            <h1 class="page-title">My Skills</h1>
            <div class="skill-category">
                <h3>Technical Skills</h3>
                <ul class="list_skills">
                    {% for item in skills.technical %}
                    <li>{{ item|safe }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="skill-category">
                <h3>Soft Skills</h3>
                <ul class="list_skills">
                    {% for item in skills.soft %}
                    <li>{{ item|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="projects">
            <h1 class="page-title">My Projects</h1>
            <div class="skill-category">
                <h3>Project links</h3>
                <ul>
                    {% for project in projects %}
                    <li class="project_links">
                        <a href="{{ project.link_of_project }}" target="_blank" >{{ project.name_of_project }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>
</div>

</div>
{% endblock %}